;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Dec 30 13:03:57 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/var/www/html/Gallery-AnthonyOrme/" "/var/www/html/Gallery-AnthonyOrme/index.php" "/var/www/html/Gallery-AnthonyOrme/.emacs.desktop"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/var/www/html/Gallery-AnthonyOrme/index.php"
  "index.php"
  'php-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((show-trailing-whitespace) (tab-width . 4) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix) (case-fold-search . t)))

(desktop-create-buffer 206
  "/home/tonyo/Projects/WebSites/AnthonyOrmeCoUk/Notes/DatabaseConfig"
  "DatabaseConfig"
  'fundamental-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (case-fold-search . t)))

(desktop-create-buffer 206
  "/home/tonyo/.emacs"
  ".emacs"
  'fundamental-mode
  nil
  56
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (case-fold-search . t)))

(desktop-create-buffer 206
  "/home/tonyo/.xemacs/custom.el"
  "custom.el"
  'fundamental-mode
  nil
  259
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (case-fold-search . t)))

