.container {  
    display: table;
    width: 80%;  
    margin: 0 auto;
}
  
.header {
    line-height: 110px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: white;		
    width: 80%;
    margin: 0 auto;
    background-color: black;
}

body {
    background: #c0c0c0;
}

#FrontPagePictureCenter{
    text-align: center;
    margin: 2%;
}

.TextWrapLeft{
    float: left;
    margin: 2%;
}


.main {  
    width: 60%;  
    background-color: #f0f0f0;  
    font-family: sans-serif;
    display: table-cell;  
    float: none;  
    padding: 20px;  
    vertical-align: top;  
}  

.sidebar_left {  
    padding: 20px;
    line-height: 30px;
    font-family: sans-serif;
    width: 20%;  
    display: table-cell;  
    background-color: #e0e0e0;  
}  

.sidebar_right {
    padding: 20px;
    line-height: 25px;
    font-family: sans-serif;
    width: 20%;  
    display: table-cell;  
    background-color: #e0e0e0;  
}  

.footer {
    text-align: center;
    line-height: 20px;
    padding: 0.5%;
    font-family: sans-serif;
    font-size: 12px;
    color: #a0a0a0;
    width: 79%;
    margin: 0 auto;
    background-color: black;
}



